@import "tailwindcss";

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-infinite {
  animation: infinite-scroll 25s linear infinite;
  /* will-change: transform; */
}


  .no-scroll {
    overflow: hidden;
  }